@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.image{
    min-height: 100vh;
    margin-bottom: 5%;
}

.contenedor-imagen-fondo{
    width: 100%;
    
}

.imagen-fondo{
    position: absolute;
    top: 12%;
    left: 2%;
    width: 70%;
    height: 50rem;
    background: url(/img/barberia.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-completo{
    position: absolute;
    top: 25%;
    right: 13%;
    background-color: #1E1E1E;
    opacity: .9;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.navbar a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar a:hover{
    text-decoration: underline 3px #e91e63;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color:white;
    cursor: pointer;
    display: none;
}

.donde-estamos{
    padding-bottom: 5%;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    padding: 0 23%;

}

.titulo-llegar{
    font-size: 3rem;
    text-decoration: underline 3px #e91e63;
    text-align: center;
}

.mapa{
    border-radius: 20px;
}

.texto{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}
    
.whatsapp{
    position: fixed;
    font-size: 60px;
    color: white;
    border-radius: 500px;
    bottom: 3%;
    right: 2%;
    z-index: 101;
}

.whatsapp:hover{
    color: #25D366;
}
   
.whatsapp-fixed{
    position: fixed;
    bottom: 4.3%;
    right: 1.9%;
    width: 70px;
    height: 70px;
    background-color: #25D366;
    border-radius: 50%;
}

.whatsapp-fixed:hover{
    background-color: white;
    border: solid 4px #25D366;
}

.precios{
    width: 100%;
    height: 55rem;
}

.centrar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-precios{
    font-size: 3rem;
    text-decoration: underline 3px #e91e63;
    margin-bottom: 2%;
}

.titulo-trabajos{
    font-size: 3rem;
    text-decoration: underline 3px #e91e63;
}

.foto-fondo{
    width: 80%;
    height: 80%;
    background: url(/img/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-transparente{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
}

.div-info-precios{
    text-align: center;
    font-size: 1.7rem;
    width: 50%;
    height: 50%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: solid 2px #e91e63;
}

.contenedor-galeria{
    margin-top: 8%;
    text-align: center;
}

.galeria{
    margin-bottom: 8%;
    margin-top: 1%;
    height: 50rem;
    padding: 1.3rem 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}
.imagen1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #25D366;
    border: 3px solid #e91e63;
}
.imagen2{
    grid-column: 2;
    grid-row: 1/3;
    background-color: #25D366;
    border: 3px solid #e91e63;
}
.imagen3 {
    grid-column: 3;
    grid-row: 1;
    background-color: #25D366;
    border: 3px solid #e91e63;
}
.imagen4 {
    grid-column: 1;
    grid-row: 2/4;
    background-color: #25D366;
    border: 3px solid #e91e63;
}
.imagen5 {
    grid-column: 2;
    grid-row: 3;
    background-color: #25D366;
    border: 3px solid #e91e63;
}
.imagen6 {
    grid-column: 3;
    grid-row: 2/4;
    background-color: #25D366;
    border: 3px solid #e91e63;
}

h1{
    font-size: 2rem;
}

/*footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col p{
    margin-top: 7%;
    color: #bbbbbb;
}

.footer-col p a{
    font-size: 1.10rem;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.footer-col p a:hover{
    color: #bbbbbb;
}

.footer-col .social-links a{
    font-size: 1.7rem;
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive footer*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

/*media queries*/
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    /*.icons{
        display: inline-flex;
    }
    .icons #close-icon{
        display: none;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 17.7rem;
        background-color: rgba(0,0,0,.1);
        backdrop-filter: blur(50px);
        box-shadow: 0, .5rem, 1rem, rgba(0, 0, 0, .1);
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }*/
}

/*media queries servicios*/

@media (max-width: 1412px){
    .div-info-precios{
        width: 70%;
    }

    .galeria{
        height: 50rem;
        padding: 1.3rem 5%;
        grid-template-columns: repeat(2, 1fr);
    }
    .imagen1 {
        grid-column: 1;
        grid-row: 1;
        background-color: #25D366;
        border: 3px solid #e91e63;
    }
    .imagen2{
        grid-column: 2;
        grid-row: 1;
        background-color: #25D366;
        border: 3px solid #e91e63;
    }
    .imagen3 {
        grid-column: 1;
        grid-row: 2;
        background-color: #25D366;
        border: 3px solid #e91e63;
    }
    .imagen4 {
        grid-column: 2;
        grid-row: 2;
        background-color: #25D366;
        border: 3px solid #e91e63;
    }
    .imagen5 {
        grid-column: 1;
        grid-row: 3;
        background-color: #25D366;
        border: 3px solid #e91e63;
    }
    .imagen6 {
        grid-column: 2;
        grid-row: 3;
        background-color: #25D366;
        border: 3px solid #e91e63;
    }
}

@media (max-width: 1010px){
    .div-info-precios{
        width: 90%;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .imagen-fondo{
        position: absolute;
        top: 12%;
        left: 0;
        width: 100%;
    }
    
    .logo-completo{
        position: absolute;
        top: 30%;
        left: 38%;
        width: 30%;
    }
}

@media (max-width: 786px){
    .div-info-precios{
        width: 100%;
    }
}

@media (max-width: 706px){
    .div-info-precios{
        width: 100%;
        height: 60%;
    }
}

@media (max-width: 548px){
    .galeria{
        height: 100%;
        padding: 1.3rem 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-completo{
        position: absolute;
        top: 30%;
        left: 25%;
        width: 50%;
    }
}




